form {
    @include make-row;
    max-width: 650px;
    margin-right: auto !important;
    margin-left: auto !important;

    @include media-breakpoint-down(md) {
        display: table;
    }

    .form-group {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    input {
        &[type='text'],
        &[type='email'] {
            display: flex;
            border-radius: 3px;
            height: 36px;
            border: 1px solid;
        } 
    }

    select {
        display: flex;
        width: 180px;
    }

    button {
        display: flex;
        margin: 20px 0;
    }

    label {
        margin: 10px 0;
    }
}